.box-card{
    width: 95%;
}


.trading_table{
    background-color: #332E59;
    border: none;
    outline: none;
}

.trade_button{
    background-color: #4D4A67;
    outline: none;
    border: none;
    width: 80px;
}